[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
python-dotenv = "*"

[packages]
flask = "*"
requests = "*"
beautifulsoup4 = "*"
numpy = "*"
gunicorn = "*"
psycopg2 = "*"
flask-restful = "*"
jinja2 = "*"
selenium = "*"
webdriver-manager = "*"
dateutil = "*"
python-dateutil = "*"

[requires]
python_version = "3.6"
